*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a i,a{
    text-decoration: none;
}

html{
    font-size: 100px;
}
body{
    background: #fdfdfe
}
@media screen and (min-width: 320px) {
    html{
        font-size: 42.6667px;
        /*calc(100px*320/750);*/
    }
}
@media screen and (min-width: 360px) {
    html{
        font-size:48px;

    }
}
@media screen and (min-width: 375px) {
    html{
        font-size:50px;

    }
}
@media screen and (min-width: 414px) {
    html{
        font-size:55.2px;

    }
}
@font-face {
    font-family: 'iconfont';  /* project id 1038540 */
    src: url('//at.alicdn.com/t/font_1038540_z6w9915jbw.eot');
    src: url('//at.alicdn.com/t/font_1038540_z6w9915jbw.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1038540_z6w9915jbw.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1038540_z6w9915jbw.woff') format('woff'),
    url('//at.alicdn.com/t/font_1038540_z6w9915jbw.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1038540_z6w9915jbw.svg#iconfont') format('svg');
}