.header {
    width: 100%;
    height: 0.86rem;

}

#he1{
    height: 0.86rem;
    width:7.5rem;
    background: #e9ddab;
    margin: auto;
}
#he1 .icon1{
    font-style: normal;
    font-family:iconfont;
    font-size: 0.4rem;
    line-height: 0.86rem;
    margin-left: 0.3rem;
    float: left;

}
.header1{
    font-size: 0.3rem;
    line-height: 0.86rem;
    margin-left: 0.8rem;
}
#picture{
    width: 100%;
    height: 7.5rem;
    /*background: red;*/
}
#p1{
    width: 7.5rem;
    height: 7.5rem;
    margin: auto;
}
#picture img{

    width: 7.5rem;
    height: 7.5rem;
}
#tuo1{
    width: 3.5rem;
    height: 1.2rem;
    background: #ff1d0e;
    border-radius: 0.45rem;
    margin:0.5rem auto;
}
.tuo11{
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
    color: white;
}
#tuo2{
    width: 3.5rem;
    height: 1.2rem;
    background: #ffa70b;
    border-radius: 0.45rem;
    margin:0.8rem  auto;
}
.tuo21{
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
    color: white;
}
.huzhipeng11{
    width: 7.5rem;
    height: 13.35rem;
    background:white;
}